<!DOCTYPE html>
<html>
    <head>
        <title>page2!</title>
    </head>
    <body>
        <h1>page2!</h1>
        <p>
        <a href="/">index</a>
        <a href="/page1">page1</a>
        <a href="/page2">page2</a>
    </body>
</html>  